
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* 
h1 {
  color: blue;
}

#mor {
  color: #0382f8;
}
.rojo {
  color: rgb(240, 45, 11);
  background: rgba(0, 81, 255, 0.541);
}
.gris {
  background: gray;
}
#lista > li {
  color: blue;
}
a:hover {
  color: red;
}

ul li:first-child {
  color: #0382f8;
}
ul li:last-child {
  color: green;
}
ul li:nth-child(3) {
  color: red;
}
ul li:nth-child(4):hover {
  color: red;
}
input[type="text"] {
  color: red;
}
img {
  width: 80px;
}
#imagen {
  border: 2px solid rgb(223, 47, 47);
}
option[selected] {
  color: #b1b9b1;
  background: #05af05;
}
div{
  width: 400px;
  height: 150px;
  border: 5px double rgb(255, 0, 0);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

#cuadro {
  width: 600px;
  height: 150px;
   
   border-width: 3px;
    border-style: solid;
    border-color: #f80303;
    border-top-color: #05af05;
    border-top-style: dashed;
    border-bottom-color: #05af05;
    border-bottom-style: dotted;
    border-right-width: 10px;
    border-left-style: double; 

  border: 5px dotted orange;
  border-bottom-color: #05af05;
  margin: 25px 10px 30px 6px;
  border-left-style: double;
  padding: 5px;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 9px;
  line-height: 20px;
  font-family: 'Press Start 2P', cursive;
  font-style: oblique;
  font-weight: bold;
  font-size: 15px;
}
#musica{
  width: 300;
}
ul{
  width: 800px;

  background-color:rgb(8, 243, 231);
  list-style-type:none;
  margin:0;
  padding:0;
}
ul li{
  display: inline;
  background-color:rgba(0, 81, 255, 0.541);
  padding: 2px 6px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  border: 1px solid green;
  border-radius: 5px;
}

ul li:hover{
  background-color: black;
  color:crimson
}

:root{
  --color-letra: rgb(1, 238, 92);
}
table{
  width: 100%
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse
}
table tr td:nth-child(3){
  text-align: center;
}
thead th {
  padding : 10px;
  background-color: rgb(18, 148, 7);
  color: white;
}
pares 
tbody tr:nth-child(even){
  background: gray;
}
impares 
tbody tr:nth-child(odd){
  background: rgb(109, 178, 206);
}

tbody tr:hover{
  background: var(--color-letra);
} */


.contenedor{
  background: rgb(70, 75, 58);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 50px auto 50px / 0.3fr 1fr;
  gap: 10px;

}
.header {
  background:rgb(76, 209, 209);
  grid-row: 1/2;
  grid-column: 1/3;
}
.contenido {
  background:rgb(88, 240, 51);
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu {
  background:rgb(0, 90, 163);
  grid-row: 2/4;
  grid-column: 1/2;
}
.footer {
  background:rgb(180, 0, 45);
  grid-row: 3/4;
  grid-column: 2/3;
}
.cajita{
  width: 100px;
  height: 100px;
  background:rgb(43, 211, 1);
  border: 2px solid green;
  border-radius: 10px;
}