
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.contenedor{
  background: rgb(70, 75, 58);
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 50px auto 50px / 0.3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "header header"
    "menu contenido"
    "menu footer"
  ;
}
.header {
  background:rgb(76, 209, 209);
  grid-area: header;
}


.menu {
  background:rgb(0, 90, 163);
  grid-area:menu;
}
.contenido {
  background:rgb(88, 240, 51);
  grid-area:contenido;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background:rgb(180, 0, 45);
  grid-area:footer;
  
}
.cajita{
  width: 100px;
  height: 100px;
  background:rgb(43, 211, 1);
  border: 2px solid green;
  border-radius: 10px;
}