.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 400px auto / 1fr;
    grid-template-areas:
        "cuadricula cuadricula"
        "teclado teclado";
}

.cuadricula {
    background: blue;
    grid-area: cuadricula;
    display: grid;
    place-items: center;
}

.teclado {
    background: yellow;
    grid-area: teclado;
}

.intento {
    width: 300px;
    height: 50px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letra {
    width: 50px;
    height: 50px;
    background: rgb(43, 211, 1);
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}