/* .error{
    background: rgb(137, 137, 219);
    border: 1px solid rgb(28, 0, 128);
    color: rgb(5, 1, 255);
}
.negrilla{
    font-weight: bold;
}
.correcto{
    background:green;
    border: 1px solid rgb(28, 0, 128);
    color: rgb(5, 1, 255);
}
.personaje{
    color:green;
} */

#espacio{
    width:100px;
    height:100px;
    background: red;
}

